doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

    script(src="https://code.jquery.com/jquery-2.2.2.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/lib/sonoform.js")

    script.
      var inputs = [{
        name: 'name',
        type: 'text',
        patterns: [/name is (\w+)/, /named? (\w+)/],
      }, {
        name: 'age',
        type: 'number',
        patterns: [/(\d+) years? old/, /aged? (\d+)/],
      }, {
        name: 'vaccinations',
        type: 'list',
        choices: ['rabies', 'measles', 'bordetella', 'worms'],
      }, {
        name: 'blood_pressure',
        type: 'text',
        patterns: [/\d+ over \d+/, /\d+\s*\/\s*\d+/],
        canonicalize: function(val) {
          return val.replace(/\s*(over|\/)\s*/, '/');
        }
      }];

      var onMatch = function(name, val) {
        $('input[name="' + name + '"]').val(val);
      }

      $(document).ready(function() {
        $('#Sonoform').html(inputs.map(function(i) {
          return '<div class="form-group">' +
                   '<label>' + i.name + '</label>' +
                   '<input type="' + i.type + '" class="form-control" name="' + i.name + '">' +
                 '</div>';
        }).join('\n'));

        var form = new Sonoform({
          inputs: inputs,
          onMatch: onMatch,
        });
        $('textarea').on('change keyup paste', function() {
          form.addText($(this).val());
        });
      });

      function startListening() {
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.onstart = function() {console.log('start')}
        recognition.onerror = function() {console.log('err', arguments)}
        recognition.onresult = function(event) {
          console.log('resu');
          var transcript = '';
          for (var i = event.resultIndex; i < event.results.length; ++i) {
            transcript += event.results[i];
          }
          console.log('t', transcript);
          $('textarea').val(transcript);
        }
        recognition.start();
      }

  body(ng-app="App")
    .container
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1
          h1 Sonoform Demo
          form#Sonoform
          .form-group
            a.btn.btn-lg.btn-primary(onclick="startListening()") Listen
          textarea.form-control(rows="10" placeholder="Type here to fill out the form")
