doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

    script(src="https://code.jquery.com/jquery-2.2.2.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="lib/sonoform.js")

    script.
      var inputs = [{
        name: 'name',
        type: 'text',
        patterns: [/name is (\w+)/, /named? (\w+)/, /^(\w+) is /],
      }, {
        name: 'age',
        type: 'number',
        patterns: [/(\d+).years?.old/, /aged? (\d+)/],
      }, {
        name: 'vaccinations',
        type: 'list',
        choices: ['rabies', 'measles', 'bordetella', 'worms'],
      }, {
        name: 'blood_pressure',
        type: 'text',
        patterns: [/\d+ over \d+/, /\d+\s*\/\s*\d+/],
        canonicalize: function(val) {
          return val.replace(/\s*(over|\/)\s*/, '/');
        }
      }];

      var examples = [
        "Lucy is a two-year-old dog. She has her rabies and bordetella vaccines, and a blood pressure of 120 over 80",
        "Here we have a dog named Munch, 8 years old. His blood pressure measures 140/90",
        "Cat, 2 years old, name Taco. Blood pressure 110/80, has been vaccinated for rabies",
      ]

      var onMatch = function(name, val) {
        $('input[name="' + name + '"]').val(val);
      }

      var form = new Sonoform({
        inputs: inputs,
        onMatch: onMatch,
      });

      $(document).ready(function() {
        $('.stop-button').hide();
        if (!window.webkitSpeechRecognition) {
          $('.listen-buttons').html('<div class="alert alert-warning">Your browser does not support WebSpeech.</div>')
        }
        $('#Sonoform').html(inputs.map(function(i) {
          return '<div class="form-group">' +
                   '<label>' + i.name + '</label>' +
                   '<input type="' + i.type + '" class="form-control" name="' + i.name + '">' +
                 '</div>';
        }).join('\n'));
        $('#Examples').html(examples.map(function(e) {
          return '<p><i>' + e + '</i></p>';
        }).join('\n'));

        $('textarea').on('change keyup paste', function() {
          form.addText($(this).val());
        });
      });

      var recognition = new webkitSpeechRecognition();
      recognition.continuous = true;
      recognition.interimResults = true;

      recognition.onstart = function() {
        $('.start-button').hide();
        $('.stop-button').show();
      }
      recognition.onend = function() {
        $('.start-button').show();
        $('.stop-button').hide();
      }
      recognition.onerror = function() {
        console.log('err', arguments)
      }
      recognition.onresult = function(event) {
        var transcript = '';
        for (var i = event.resultIndex; i < event.results.length; ++i) {
          transcript += event.results[i][0].transcript;
        }
        $('textarea').val(transcript);
        form.addText(transcript);
      }

  body(ng-app="App")
    .container
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1
          h1 Sonoform Demo
          form#Sonoform
          .form-group.listen-buttons
            a.btn.btn-lg.btn-primary.start-button(onclick="recognition.start()") Listen
            a.btn.btn-lg.btn-danger.stop-button(onclick="recognition.stop()") Stop Listening
          textarea.form-control(rows="10" placeholder="Type here to fill out the form")
          h3 Try typing or saying one of these examples:
          #Examples

