doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no', name='viewport')

    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

    script(src="https://code.jquery.com/jquery-2.2.2.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/lib/sonoform.js")

    script.
      var inputs = [{
        name: 'name',
        type: 'text',
        patterns: [/name is (\w+)/, /named? (\w+)/],
      }, {
        name: 'age',
        type: 'number',
        patterns: [/(\d+) years? old/, /aged? (\d+)/],
      }, {
        name: 'vaccinations',
        type: 'list',
        choices: ['rabies', 'measles', 'bordetella', 'worms'],
      }, {
        name: 'blood_pressure',
        type: 'text',
        patterns: [/\d+ over \d+/, /\d+\s*\/\s*\d+/],
        canonicalize: function(val) {
          return val.replace(/\s*(over|\/)\s*/, '/');
        }
      }];

      var onMatch = function(name, val) {
        $('input[name="' + name + '"]').val(val);
      }

      $(document).ready(function() {
        $('#Sonoform').html(inputs.map(function(i) {
          return '<div class="form-group">' +
                   '<label>' + i.name + '</label>' +
                   '<input type="' + i.type + '" class="form-control">' +
                 '</div>';
        }).join('\n'));

        var form = new Sonoform({
          inputs: inputs,
          onMatch: onMatch,
        });
        $('textarea').change(function() {
          form.addText($(this).val());
        });
      });
  body(ng-app="App")
    .container
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1
          h1 Sonoform Demo
          form#Sonoform
          textarea(rows="20" placeholder="Type here to fill out the form")
